:root {
  /* Define your color scheme */
  --primary-bg-color: #0d1117; /* GitHub Dark Background */
  --secondary-bg-color: #161b22; /* Slightly lighter for contrast */
  --button-bg-color: #238636; /* GitHub Green */
  --button-hover-bg-color: #2ea043; /* Slightly lighter green for hover */
  --border-color: #30363d; /* Subtle borders */
  --text-color: #c9d1d9; /* Light text for contrast */
  --link-color: #58a6ff; /* GitHub link color */

  /* Font sizes */
  --font-size-small: 14px;
  --font-size-large: calc(10px + 2vmin);

  /* Dimensions */
  --default-border-radius: 6px;
  --default-padding: 20px;
  --input-margin-bottom: 16px;
  --input-padding: 6px 8px;
  --button-padding: 10px 16px;

  /* Animation durations */
  --logo-spin-duration: 20s;

  /* Error Message Styling */
  --error-color: #ff0033;
  --error-font-size: 0.9em;
  --error-margin: 10px 0;
  --error-padding: 5px;
  --error-border-radius: 5px;
  --error-background: #ffd1d1;

  /* Dashboard Styling */
  --dashboard-bg-color: var(--primary-bg-color);
  --dashboard-header-bg-color: #24292e;
  --dashboard-header-color: #fff;
  --dashboard-content-margin-top: 20px;
  --logout-button-bg-color: #f9826c;
  --logout-button-hover-bg-color: #da5a45;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite var(--logo-spin-duration) linear;
  }
}

.App-header {
  background-color: var(--primary-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-large);
  color: var(--text-color);
}

.login-container, .register-container {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.input-form {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: var(--default-padding);
  border: 1px solid var(--border-color);
  border-radius: var(--default-border-radius);
}

button {
  cursor: pointer;
}

/* Hover effect for buttons */
button:hover {
  cursor: pointer; /* Show hand cursor */
}

.input-form input, .input-form button {
  background-color: #21262d;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: var(--input-padding);
  margin-bottom: var(--input-margin-bottom);
  border-radius: var(--default-border-radius);
  font-size: var(--font-size-small);
}

.input-form button {
  padding: var(--button-padding);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: var(--default-border-radius);
  font-size: var(--font-size-small);
  cursor: pointer;
}

.input-form button:hover {
  background-color: var(--button-hover-bg-color);
}

.input-form input:focus {
  outline: none;
}

.App-link {
  color: var(--link-color);
}

.error-message {
  color: var(--error-color);
  font-size: var(--error-font-size);
  margin: var(--error-margin);
  padding: var(--error-padding);
  border-radius: var(--error-border-radius);
  background-color: var(--error-background);
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dashboard */
.dashboard-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  background-color: var(--dashboard-bg-color);
  min-height: 100vh;
  padding: var(--default-padding);
}

.dashboard-header {
  background-color: var(--dashboard-header-bg-color);
  color: var(--dashboard-header-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h1 {
  margin: 0;
}

.logout-button {
  background-color: var(--logout-button-bg-color);
  color: white;
  border: none;
  padding: var(--button-padding);
  border-radius: var(--default-border-radius);
  cursor: pointer;
}

.logout-button:hover {
  background-color: var(--logout-button-hover-bg-color);
}

.dashboard-content {
  margin-top: var(--dashboard-content-margin-top);
}

.alert-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #161b22; /* Slightly lighter dark shade for footer */
  color: white;
  text-align: center;
  padding: 12px;
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 1.2em;
}

.alert-icon {
  margin-right: 8px;
  font-size: 1.4em;
}
